.sidebar-title {
    font-size: 1.7rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.sidebar-items {
    margin-top: 1.5rem;
}

.sidebar-label-container {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--light);
    border-radius: 50%;
}

.sidebar-label-container:hover input ~.checkmark {
    background-color: var(--semiblue);
}

.sidebar-label-container input:checked ~.checkmark {
    background-color: var(--blue);
}

.checkmark::after {
    content: '';
    position: absolute;
    display: none;
}

.sidebar-label-container input:checked ~.checkmark::after {
    display: block;
}

.sidebar-label-container .checkmark::after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.line {
    margin-top: 3rem;
    border-color: var(--light);
}